/* Write your CSS here */
.container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.content-card {
  height: 350px;
  width: 300px;
  border-radius: 12px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 20px;
}
.heading {
  color: #0b69ff;
  font-weight: 700;
  font-family: 'Roboto';
}
.description {
  font-family: 'Roboto';
  color: #333333;
  font-size: 15px;
  text-align: center;
}
.button {
  background-color: #0b69ff;
  border-radius: 7px;
  height: 35px;
  width: 95px;
  cursor: pointer;
  color: #ffffff;
  outline: none;
  border-style: none;
}
.number {
  color: #0b69ff;
  font-weight: bold;
  font-size: 45px;
}
